@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  max-width: 500px;
  padding: 0 2%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*-----PRIMEIRO TEMA-----*/

body.purpleMode{
  background-color: #3B4664;
  color: #fff;
}

.tituloOne{
  color: white;
  font-size: 1.4rem;
}

.deleteOne{
  background-color: #647299;
  color: white;
  width: 100%;
}

.resetOne{
  background-color: #647299;
  color: white;
  width: 100%;
}

.calculadoraOne{
  padding: 30px;
  border-radius: 10px;
  background-color: #252D44;
}

.backSwitchOne{
  background-color: #181F32;
  font-size: 12px;
  position: relative;
  display: flex;
  gap: 7px;
  padding: 4px;
  border-radius: 15px;
  height: 23px;
  width: 65px;
}

.resultOne{
  background-color: #181F32;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: default;
  box-sizing: border-box;
  color: white;
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
  border: 1px solid transparent;
}

.igualOne{
  width: 100%;
  background-color: #C23B2D;
  color: white;
}

.sliderOne {
  background-color: #C23B2D;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.numeroOne{
  background-color: #E5E4E0;
  width: 100%;
  color: #252D44;
}

.temaOne{
  color: white;
}

/*-----SEGUNDO TEMA-----*/

body.darkMode {
  background-color: #E6E6E6;
}

.tituloTwo{
  color: #35352A;
  font-size: 1.4rem;
}

.deleteTwo{
  background-color: #388186;
  color: white;
  width: 100%;
}

.resetTwo{
  background-color: #388186;
  color: white;
  width: 100%;
}

.calculadoraTwo{
  padding: 30px;
  border-radius: 10px;
  background-color: #D3CDCD;
}

.backSwitchTwo{
  background-color: #D3CDCD;
  font-size: 12px;
  position: relative;
  display: flex;
  gap: 7px;
  padding: 4px;
  border-radius: 15px;
  height: 23px;
  width: 65px;
}

.resultTwo{
  background-color: white;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: default;
  box-sizing: border-box;
  color: #35352A;
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
  border: 1px solid transparent;
}

.igualTwo{
  width: 100%;
  background-color: #C85401;
  color: white;
}

.sliderTwo {
  background-color: #C85401;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.numeroTwo{
  background-color: #E5E4E0;
  color: #35352A;
  width: 100%;
}

.temaTwo{
  color: #35352A;
}

/*-----TERCEIRO TEMA-----*/

body.roxoMode {
  background-color: #17062A;
  color: #333;
}

.tituloThree{
  color: #FEE43B;
  font-size: 1.4rem;
}

.deleteThree{
  background-color: #56077C;
  color: white;
  width: 100%;
}

.resetThree{
  background-color: #56077C;
  color: white;
  width: 100%;
}

.calculadoraThree{
  padding: 30px;
  border-radius: 10px;
  background-color: #1E0837;
}

.backSwitchThree{
  background-color: #1E0837;
  font-size: 12px;
  position: relative;
  display: flex;
  gap: 7px;
  padding: 4px;
  border-radius: 15px;
  height: 23px;
  width: 65px;
}

.resultThree{
  background-color: #1E0837;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: default;
  box-sizing: border-box;
  color: #FEE43B;
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
  border: 1px solid transparent;
}

.igualThree{
  width: 100%;
  background-color: #00DECF;
  color: #1E0837;
}

.sliderThree {
  background-color: #00DECF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.numeroThree{
  background-color: #331B4D;
  color: #FEE43B;
  width: 100%;
}

.temaThree{
  color: yellow;
}

.tema{
  position: absolute;
  display: flex;
  gap: 14px;
  right: 0;
  bottom: 27px;
  list-style: none;
  margin-right: 9px;
  font-weight: bold;
  font-size: 0.8rem;
}

.position{
  position: absolute;
  right: 0;
}

.sliderSwitch{
  opacity: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.interruptor{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flex{
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex h3{
  font-size: 0.8rem;
  font-weight: bold;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.stop {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
  width: 100%;
}

.input{ 
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  
  border: 1px solid transparent;
  cursor: pointer;
}





